---
layout: layout.liquid
title: Effectiveness of AI with API Use
---

<div class="text-white text-justify mt-60 ml-60 mr-60">
    <p class="text-xl mb-5">
        The AI tools I used for this assignment were very helpful. When the methods I used to create this website were not working correctly, the AI responses guided me in the right direction. It provided a detailed explanation of each code snippet it created and how it works. This made it easy to implement the code created or edit my current code.
    </p>
    <p class="text-xl mb-5">
        I used GPT-4o and Claude 3.5 Sonnet (Preview) to help build this website. I asked both models how I could get an item from a specific index from an array from a json file. Both provided similar answers that accomplished what I asked, and both included error handling during the fetch process. However, GPT-4o made use of the Alpine fetch features creating the script in less lines where Claude 3.5 Sonnet used .then statements to gather the information, which used more lines. I did ask Claude 3.5 Sonnet the same question again with some of the answer provided by GPT-4o and it created a shorter in-line script almost identical to the script from GPT-4o. Finally, both models seemed familiar with Tailwind CSS classes as they both provided the same class names when asked what class does a certain modification.
    </p>
</div>